name: ctoml-cr CI

on:
  schedule:
    - cron: "0 0 * * *" # Every day at 00:00
  push:
    branches:
      - "master"
  pull_request:
    branches: "*"
    paths-ignore:
      - "*.md"
      - LICENCE
      - .editorconfig
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    name: "build - crystal: ${{ matrix.crystal }}, stable: ${{ matrix.stable }}"

    continue-on-error: ${{ !matrix.stable }}

    strategy:
      fail-fast: false
      matrix:
        stable: [true]
        crystal:
          - 1.0.0
          - 1.10.0
          - 1.11.0
          - 1.12.2
        include:
          - crystal: nightly
            stable: false

    steps:
      - uses: actions/checkout@v4

      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1.8.0
        with:
          crystal: ${{ matrix.crystal }}

      - name: Cache ctoml library
        uses: actions/cache@v3
        with:
          path: ./src/ext/libtoml.a
          key: libtoml

      - name: "Install and make ctoml lib"
        run: |
          if [ ! -f ./src/ext/libtoml.a ]; then
            cd src/ext && sh ./install.sh && cd ../../
          fi

      - name: Run tests
        run: crystal spec --error-trace

      - name: Run lint
        run: |
          if ! crystal tool format --check; then
            crystal tool format
            git diff
            exit 1
          fi

      - name: Build
        run: crystal build --warnings all --error-on-warnings --error-trace src/ctoml-cr.cr
